<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- inject:css -->
    <link rel="stylesheet" href="../assets/css/shared/style.css">
    <title>Admin Dashboard</title>
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
        <h1 class="text-monospace" align="center ">Movement Register</h1>      
        <br/>
        <label for="start" >Select month:</label>
        <input type="month" id="start" name="start"
               min="2018-03" value="2018-05">
               <button type="button" class="btn btn-primary btn-sm">Confirm</button>
<br/>
<br/>
<br/>
<br/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<table class="table table-bordered" align="center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Role</th>
        <th scope="col">LeaveId</th>
        <th scope="col">LeaveType</th>
        <th scope="col">StartTime</th>
        <th scope="col">EndTime</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Mark</th>
        <td>Manager</td>
        <td>569481</td>
        <td>Medical</td>
        <td>03/08/2020</td>
        <td>05/08/2020</td>
        <td>NotUse</td>
      </tr>
      <tr>
        <th scope="row">Lixinqi</th>
        <td>Staff</td>
        <td>569881</td>
        <td>Annual</td>
        <td>03/05/2020</td>
        <td>05/05/2020</td>
        <td>Done</td>
      </tr>
      <tr>
        <th scope="row">Lily</th>
        <td>Manager</td>
        <td>549481</td>
        <td>Medical</td>
        <td>25/06/2020</td>
        <td>29/06/2020</td>
        <td>OnGoing</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </tbody>
  </table>
</body>
  
        

