<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- inject:css -->
<link rel="stylesheet" href="../../assets/css/shared/style.css"
	th:href="@{/assets/css/shared/style.css}" />
<link rel="stylesheet" href="../../assets/css/demo_1/style.css"
	th:href="@{/assets/css/demo_1/style.css}" />
<link rel="stylesheet" href="../../custom/custom.css"
	th:href="@{/custom/custom.css}" />
    <title>Manager Report</title>
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div class="main-panel">
          <div class="content-wrapper">
             <div class="row">
              <div class="col-lg-8 grid-margin stretch-card">
              	 <div class="card">
                  <div class="card-body">
    	<h1>Report Generator</h1>
    	<p th:text="#{report.welcome}">This is the report page</p>
    	<table class="w3-container1">
			<tr>
				<td></td>
				<td>Start Date</td>
				<td>End Date</td>
			</tr>
			<tr>
				<td>Report TimeLine</td>
<!-- 				above is Not Inclusive for End Date Data) -->
				<td><input type = "date" id = "start" name = "report-start-date"></td>
				<td><input type = "date" id = "end" name = "report-end-date"></td>
			</tr>
			<tr>
				<td width = "33%">Report Type</td>
				<td width = "33%">Staff Category</td>
				<td width = "33%">Employee Name</td>
			</tr>
			<tr>
				<td width = "33%">
					<select name = "staff-category" id = "staff-category">
						<option value="All">All</option>						
						<option value="Annual">Annual</option>	
						<option value="Medical">Medical</option>	
						<option value="Compensation">Compensation</option>	
					</select>
				</td>
				<td width = "33%">
					<select name = "report-type" id = "report-type">
						<option value="All">All</option>							
						<option value="Staff">Staff</option>	
						<option value="Admin">Admin</option>	
						<option value="Manager">Manager</option>	
					</select>
				</td>
				<td width = "33%">
					<select name = "employee-name" id = "employee-name">
						<option value="Darell">Darell</option>							
						<option value="Rohan">Rohan</option>	
						<option value="Sheryl">Sheryl</option>	
					</select>
				</td>

			</tr>
		</table>
		<br>
    	<table class="w3-container2">
<!--     	th:if="${not #lists.isEmpty(leaves)}" -->
    	<tr>
    		<td>Id</td>
			<td>Name</td>
			<td>Role</td>
			<td>Leave Type</td>
			<td>Start Date</td>
			<td>End Date</td>
		</tr>
		<tr th:each="leave:${leaves}">
			<td th:text=${leave.id}></td>
			<td th:text=${leave.user.firstName}></td>
			<td th:text=${leave.role.roleName}></td>
			<td th:text=${leave.leaveType.leaveTypeName}></td>
			<td th:text=${leave.leaveStartDate}></td>
			<td th:text=${leave.leaveEndDate}></td>
		</tr>
		</table>
		                  </div>
                </div>
              </div>
          </div>
		</div>
		</div>
		<div th:replace="fragments/general.html :: footer"></div>
	</body>
	
	